@font-face {
    font-family: Font;
    src: url('../Font.ttf');
}


.center {
    text-align: center;
}

.button_container {
    text-align: center;
}

body {
    font-family: Font;
    background-color: black;
    color: rgb(90, 255, 0);
}
